<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TokenServerWSSOAPEndpoint" />
        <binding name="TokenServerWSSOAPEndpoints">
          <security mode="Transport" />
        </binding>
        <binding name="basicHttpBindingConfigEndpoint">
          <security mode="Transport" />
        </binding>
        <binding name="soapEndpointGlobalAddressCheck" />
        <binding name="soapSSLEndpointGlobalAddressCheck">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://token.melissadata.net/v3/SOAP/Service.svc"
          binding="basicHttpBinding" bindingConfiguration="TokenServerWSSOAPEndpoint"
          contract="SOAP2.IService" name="TokenServerWSSOAPEndpoint" />
      <endpoint address="https://token.melissadata.net/v3/SOAP/Service.svc"
          binding="basicHttpBinding" bindingConfiguration="TokenServerWSSOAPEndpoints"
          contract="SOAP2.IService" name="TokenServerWSSOAPEndpoints" />
      <endpoint address="https://personator.melissadata.net/v3/SOAP/ContactVerify"
          binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfigEndpoint"
          contract="SOAP.ServicemdContactVerifySOAP" name="basicHttpBindingConfigEndpoint" />
      <endpoint address="http://address.melissadata.net/v3/SOAP/GlobalAddress"
          binding="basicHttpBinding" bindingConfiguration="soapEndpointGlobalAddressCheck"
          contract="SOAP3.AddressCheckSoap" name="soapEndpointGlobalAddressCheck" />
      <endpoint address="https://address.melissadata.net/v3/SOAP/GlobalAddress"
          binding="basicHttpBinding" bindingConfiguration="soapSSLEndpointGlobalAddressCheck"
          contract="SOAP3.AddressCheckSoap" name="soapSSLEndpointGlobalAddressCheck" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>